@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../app/styles/variables';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

//LoginCard
input {
  margin-top: 8px;
  padding: 18px;
  border: 1.5px solid $primary-black;
  border-radius: 6px;
}

.button{
  background: $primary-green;
  border-radius: 6px;
}

//Horizontal rule
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 99px;
  height: 1.5px;
  background: $primary-ash;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

//SIGN UP
.stepColor {
  color: $primary-green;
}

.stepColorBorder {
  border-color: $primary-green;
}

.bgGreen {
  background: $primary-green;
}

.inputBg {
  background: $primary-bg-login;
}

.inputField {
  // background: transparent;
  // // border: 2px solid $input-field-border;
  // background-image: url('../images/google.png');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: 3px center;
}

//Reset Password
